.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;

}
.calculator_body{
    background-color: black;
    padding:10px ;
    border-radius: 10px;
    width:230px;

}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;


}
.numbers button, .numbers-btn button{
 width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgba(70,69,69);
    color: white;
    border: none;
}
.numbers-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    padding-top: 10px;
}
.numbers-btn button:last-child{
    width: 100px;
    border-radius: 25px;
}
.output{
    background-color: rgb(100, 98, 98);
    height: 120px;
    margin: 10px;
    color:white ;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    font-size: 2rem;
    display: grid;

}
